ENV = development
HOST = localhost
PORT = 8080

PGHOST = localhost
PGUSER = postgres
PGPASSWORD = admin
PGDBNAME = my-gram
PGPORT = 5432

# jwt token
TOKEN_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImFzZmluYWxkaS5kYUBnbWFpbC5jb20iLCJpZCI6InVzZXItSzVkeVhNRHl2VlhzUjlySCJ9.lcd5F3APpbYVjLLwes2yfExd0fb3IlJIcNkcth_TK50